<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/detail.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <hr>
    <div class="detail">
    	<span class="author">作者：<i><%= autor %></i></span>
    	<span class="date">日期：<i><%= date %></i></span>
      <p><%= content %></p>
    </div>
    <a href="/" class="return">
      <img src="/images/bear.png" alt="">
    </a>
  </body>
</html>
